h1{
  font-size=5;
  font-weight: bold;
}

.yamanami{
  width: 800px; /* 幅 */
  height: 570px; /* 高さ */
  margin-left: auto; /* 🖐 */
  margin-right: auto; /* 🖐 */
}

html {
    background-color: #ffdab9;
}
 
